root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
insert_final_newline = false

# Windows files
[*.bat]
end_of_line = crlf
